<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />  
    <!-- 
      Use this to change the text that appears on the tab in the browser when you're on a page
    -->
    <title>Jobs Mode</title>

    <!-- 
      Link JQuery, D3 and necessary script + CSS for this template.
    -->

    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    ></script>
  

    <script src="http://d3js.org/d3.v4.min.js"></script>


    <link rel="stylesheet" href="scripts/jobsMode/slide1styles.css" />
  </head>
  <body onload="updateMap()">
    <div id="map-holder"></div>
    <script type="text/javascript" src="scripts/jobsMode/jobsMode.js"></script>
    <script type="text/javascript" src="scripts/jobsMode/map.js"></script>
   
    <svg id="svg"></svg>
  </body>
</html>
